/* utility */

/* 1. display */
.flex {
  display: flex;
}
/* 1.1 flex */
.grow {
  flex-grow: 1;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.list-none {
  list-style-type: none;
}
.gray {
  color: gray;
}
.text-sm {
  font-size: 0.9rem;
}
