<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        {{ config.title }}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="/classless.styles.css">
    <link rel="stylesheet" href="/tailwind.styles.css">
    <link rel="stylesheet" href="/icons8/css/line-awesome.min.css">
  </head>
  <body>
    <nav class="flex">
      <a class='grow' href="/">clane</a>
      <a href="https://github.com/clane" data-text="GitHub"><i class="lab la-github"></i></a>
      <a href="/notes" data-text="Notes"><i class="las la-sticky-note"></i></a>
      <a href="/posts" data-text="Blog"><i class="las la-blog"></i></a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <hr>
    <footer class="flex justify-around">
      <p>© 2023 clane</p>
      <p>All rights reserved.</p>
    </footer>
  </body>
</html>