{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
    <li class="note">
      <div class="header">
        <div class="avatar">
          <img src="{{ config.extra.profile }}" alt="user profile">
        </div>
        <div class="line">
          <p class="username">{{ config.extra.username }}
            {% if page.state %}
            <span>{{ page.state }}</span>
            {% endif %}
          </p>
          {% if page.date %}
          <p class="date"><a href="{{ page.permalink | safe }}">
            {{ page.date }}
          </a></p>
          {% endif %}
        </div>
      </div>
      <div class="content">
        {{ page.content | safe }}
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock content %}