{% extends "base.html" %}

{% block content %}
<h1 class="gray">
  {{ section.title }}
</h1>

<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
    <blockquote class="note">
      <div class="content">
        {{ page.content | safe }}
      </div>
      {% if page.date %}
      <code class="">
        {{ page.date }}
      </code>
      {% endif %}
    </blockquote>
  {% endfor %}
</ul>
{% endblock content %}